@model ASPproj.Models.Cart

<div class="container mt-5">
    <h1 class="text-center">Your Cart</h1>
    <div class="mt-4">
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-info">
                @ViewData["Message"]
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.CartItems)
                    {
                        <tr>
                            <td>@cartItem.item.Name</td>
                            <td>@string.Format("{0:C}", cartItem.item.Price)</td>
                            <td>@cartItem.Quantity</td>
                            <td>@string.Format("{0:C}", cartItem.item.Price * cartItem.Quantity)</td>
                        </tr>
                    }
                </tbody>
                <tfoot class="table-light">
                    <tr>
                        <th colspan="3" class="text-end">Total</th>
                        <th>@string.Format("{0:C}", Model.CartItems.Sum(ci => ci.item.Price * ci.Quantity))</th>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</div>
